{% extends "mainapp/base.html" %}
{% block content %}

    <form method="post">
        {% csrf_token %}
        <div class="task-card1" id="registration">

            <div class="card-top1"  >

              <div class="card-body1" >
                  <h5>REGISTRATION</h5>

        User name:<br> <input  type="text" name="username"><br>
        Email:<br> <input type="email" name="email"><br>
        Password:<br> <input type="password" name="password"><br>
        Password again: <br><input type="password" name="password2"><br>
        <input type="submit" class="btn btn-outline-danger " value="FINISH REGISTRATION">

              </div>

           </div>

        </div>

    </form>
{% endblock %}
