/*maincolor = #ab3535*/
* {
    margin: 0;
    padding: 0;
}


body {
    background: url("/static/img/background.jpg") 100% 0 no-repeat fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sens-serif;
    font-size: 16px;
    font-weight: 400;
    color: black;
    min-width: 320px;
}

.container {
    margin-left: 64px;
    margin-right: 64px;
}

/* Navbar */


.navbar {
    background-color: #1f1f1f;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    opacity: .7;
    letter-spacing: 6px;
    text-decoration: line-through;
    border-bottom: 1px solid;
    text-decoration-color: #1f1f1f;
    color: #ab3535;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 16px;
    margin-left: 64px;
}

.navbar-link {
    color: #ab3535;
    text-decoration: none;
    opacity: .7;
}

.navbar-username {
    display: inline-block;
    margin-right: 16px;
    color: #ab3535;
    opacity: .7;
}

/* Card */

.progress_header {
    text-transform: uppercase;
    text-align: center;
}

.card {
    display: flex;
    justify-content: space-around;
    height: 100%;
    margin-top: 64px;
}

.card__task {
    background: url("/static/img/paper3.jpg") no-repeat;
    width: 256px;
    min-height: 256px;
    text-align: center;
    margin-top: 32px;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #1f1f1f;
    text-decoration: none;
}




.card__btn {
    display: flex;
    justify-content: space-around;
}


.btn_edit {
    color: #1f1f1f;
    text-decoration: none;
    background-color: #2f7049;
    padding: 8px 20px;
    border: none;
    opacity: .85;
    border-radius: 10px;

}


.btn_delete {

    color: #1f1f1f;
    text-decoration: none;
    background-color: #ab3535;
    padding: 8px 20px;
    border: none;
    opacity: .85;
    border-radius: 10px;
}


/* sidebar */

.sidebar {
    margin: 0;
    padding: 0;
    width: 24px;
    left: 0;
    top: 60px;
    background-color: #1f1f1f;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    transition: width 0.75s;
    z-index: 1;


}

.sidebar a {
    display: block;
    color: #ab3535;
    padding: 32px;
    text-decoration: none;
    opacity: .9;
    font-weight: 500;


}

.sidebar a:hover {
    border-bottom: #ab3535 2px solid;
    border-top: #ab3535 2px solid;


}

.sidebar:hover {
    margin-left: 0;
    float: left;
    width: 128px;


}