{% extends 'mainapp/base.html' %}
{% block content %}

    {% for obj in one_card %}
        <div class="task-card" style="width: 25rem;">
          <div class="card-top">
           <div class="card-body">
            <div class="task-details"><h4>{{ obj.title }}</h4>
                <p class="task-details">{{ obj.task }}</p>
                 <p class="task-details">{{ obj.progress_choice }}</p>
                 <p class="task-details">{{ obj.date }}</p>
               <a href="{% url 'mainapp:edit' obj.title %}"><button type="button" class="btn btn-dark">Редактировать</button></a>
           </div>
       </div>
    </div>
    {% endfor %}

{% endblock %}
