{% extends 'mainapp/base.html' %}
{% block content %}
{% if all_objects %}
    {% for obj in all_objects %}
       <div class="card" style="width: 18rem;">
          <div class="card-top">
           <div class="card-body">
            <h5 class="card-title">{{ obj.title }}</h5>
                <p class="card-text">{{ obj.task }}</p>
                    <p class="card-text">{{ obj.progress_choice }}</p>
                        <p class="card-text">{{ obj.date }}</p>
                        <a href="{% url 'mainapp:card' obj.title %}"><button type="button" class="btn btn-dark">Подробнее</button></a>
           </div>
         </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No task are available.</p>
    {% endif %}
{% endblock %}
