{% extends 'mainapp/base.html' %}
{% block content %}
{% if all_objects %}

    <section class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 .col-sm-6" >
                    {% for obj in all_objects %}
                    {% if obj.progress_choice == "Need_to_do" %}

                    <div class="task-card">
<!--                        <img src="/static/img//bul.png">-->
                        <div class="task-thumb">
                        </div>
                        <div class="task-details">
                            <h4>{{ obj.title }}</h4>
                            <ul><li>
                                <p>{{ obj.task }}</p>
                            </li></ul>

                        </div>
                        <div class="task-progress-date-info">
                            <div class="progress-choice">
                                {{ obj.progress_choice }}
                            </div>
                            <div class="create-date ">
                                {{ obj.date }}
                            </div>
                            <div class="task-links">
                                <a href="{% url 'mainapp:card' obj.title %}">Details</button></a>
                            </div>
                        </div>
                    </div>

                    {% endif %}
                    {% endfor %}

                </div>
                <div class="col-lg-4 .col-sm-6">
                    {% for obj in all_objects %}
                    {% if obj.progress_choice == "In_progress" %}
                    <div class="task-card">
                        <div class="task-thumb">
                        </div>
                        <div class="task-details">
                            <h4>{{ obj.title }}</h4>
                            <ul><li>
                                <p>{{ obj.task }}</p>
                            </li></ul>
                        </div>
                        <div class="task-progress-date-info">
                            <div class="progress-choice">
                                {{ obj.progress_choice }}
                            </div>
                            <div class="create-date">
                                {{ obj.date }}
                            </div>
                            <div class="task-links">
                                <a href="{% url 'mainapp:card' obj.title %}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-lg-4 .col-sm-6">
                    {% for obj in all_objects %}
                    {% if obj.progress_choice == "Finish" %}
                    <div class="task-card">
                        <div class="task-thumb">
                        </div>
                        <div class="task-details">
                            <h4>{{ obj.title }}</h4>
                            <ul><li>
                                <p>{{ obj.task }}</p>
                            </li></ul>
                        </div>
                        <div class="task-progress-date-info">
                            <div class="progress-choice">
                                {{ obj.progress_choice }}
                            </div>
                            <div class="create-date">
                                {{ obj.date }}
                            </div>
                            <div class="task-links">
                                <a href="{% url 'mainapp:card' obj.title %}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% else %}
    <p>No task are available.</p>
    {% endif %}
{% endblock %}
