<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная доска</title>
</head>
 <body>
 <a href="{% url 'mainapp:create' %}"><li><button class="btn btn-info"></button></li>Добавить</a>
{% if all_objects %}
    <ul>
    {% for obj in all_objects %}

        <div ><br>
            <a href="{% url 'mainapp:card' obj.title %}">{{ obj.title }}</a></br>
            <br><li>{{ obj.task }}</li></br>
            <p><select name="select">
            <option value="{{ obj.id }}">{{ obj.progress_choice }}</option>
           </select></p>
            <li>{{ obj.date }}</li>
        </div>
        {% endfor %}

    </ul>
    {% else %}
    <p>No task are available.</p>
    {% endif %}
 </body>
</html>