<div class="navbar">
    <div class="container">
        <div class="navbar__content">
            <div class="navbar__home">
                <a class="navbar-link" href="">HOME</a>
            </div>
            <div class="navbar__logo">
                <h2>YOU CAN DO ANYTHING</h2>
            </div>
            <div class="navbar__login">
                {% if user.is_authenticated %}
                <h3 class="navbar-username">{{ user.get_username }}</h3>
                <a class="navbar-link" href="">LOGOUT</a>
                {% else %}
                <a class="navbar-link" href="">LOGIN</a>
                <a class="navbar-link" href="">REGISTRATION</a>
                {% endif %}
            </div>
        </div>


    </div>
</div>